################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/massive logddelte script.ps1
